/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# SQLite DB created by testing
.ai_related_posts_cache.sqlite3

# Ouptut created during testing
/spec/dest/
